{% extends 'base.html.twig' %}

{% block title %}Les produits{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Les produits</h1>
    </div>

    <div class="row">
        {% for produit in produits %}
            <div class="col-4 mt-4">
                <div class="border border-dark rounded p-2 clearfix">
                    <a href="{{ path('produit_show', {'id': produit.id}) }}" class="">
                        <div>
                            <h2>
                                {{ produit.nom }}
                                -
                                {{ produit.prix }}
                                €
                            </h2>
                            <img class="img-fluid rounded" src="{{ asset('uploads/' ~ produit.photo) }}" alt="Image de {{ produit.nom }}">
                        </div>

                    </a>
                    <hr>
                    <h2>{{ produit.stock }} restants</h2>
                    <a href="{{ path('panier_add', {'id': produit.id }) }}" class="btn btn-success float-right">
                        <i class="fas fa-shopping-cart mr-1"></i>
                        Ajouter
                    </a>
                </div>

            </div>
        {% endfor %}
    </div>
{% endblock %}
