{% extends 'base.html.twig' %}

{% block title %}Hello ProduitController!{% endblock %}

{% block body %}
    <h1 class="card-title">{{ produit.nom }}</h1>
    <div class="card ">
        {% if produit.photo %}
            <img class="card-img-top" src="{{ asset('uploads/' ~ produit.photo) }}" alt="Card image cap">
        {% else %}
           <img src="http://placehold.it/1280X720" class="card-img-top" alt="">
        {% endif %}
        <div class="card-body">

            <p class="card-text">{{ produit.description }}</p>
            <p class="card-text">{{ produit.prix }}</p>
            <p class="card-text">{{ produit.stock }}</p>
            <a href="{{ path('panier', {'id': produit.id}) }}" class="btn btn-primary">Ajouter au panier</a>
        </div>
    </div>

{% endblock %}
